In [1]:
%pdb

Automatic pdb calling has been turned ON

In [ ]:
# %load fama.py
import tushare as ts
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_book_value=pd.read_csv("./book_value_per_share.csv",index_col=0)
df_market_cap=pd.read_csv("./market_cap.csv")
price_data=pd.read_csv("./price_data.csv")
# print(df_book_value)

index_date=df_book_value.index
stocks=df_book_value.columns
format='%Y-%m-%d %H:%M:%S'
btm = pd.DataFrame(index=index_date,columns=stocks)

i=0
for stk in stocks:
    for date in index_date:
        i=i+1
        if i==1:
            print("type(stk),type(date)",type(stk),stk,type(date),date)
        else:
            pass
#         dt=date.strftime(format)    
#         print("dt",type(dt),dt)
        
        if hasattr(price_data[stk],date):
            if price_data[stk][date]!=0:
                btm[stk][date] = df_book_value[stk][date]/price_data[stk][date]
            else:
                btm[stk][date] = 0
        else:
#             print('hasattr error',stk,date,type(date))
            btm[stk][date]=0
            
# btm

type(stk),type(date) <class 'str'> 002334.XSHE <class 'str'> 2010-11-01

In [7]:
from datetime import datetime

In [10]:
datetime.now()

datetime.datetime(2018, 5, 13, 13, 36, 39, 360507)

In [29]:
date = ['2017-6-26','2017-6-27']
arr=[datetime.strptime(x,"%Y-%m-%d") for x in date]
arr

[datetime.datetime(2017, 6, 26, 0, 0), datetime.datetime(2017, 6, 27, 0, 0)]

In [23]:
stamp = datetime(2017,6,27)
stamp
str(stamp)[:10]

'2017-06-27'

In [31]:
from dateutil.parser import parse

In [113]:
date_index=pd.date_range("2018-5-1","2018-5-10")
type(date_index) 
date_index
s=pd.Series(np.random.randn(10),index=date_index)
print(s)
'''
# s["2018-05-01"]
# s["20180501"]
# s[parse("2018-05-01")]
# s[datetime.strptime("2018-05-01","%Y-%m-%d")]
# s['2017-06-20':'2017-06-23']
# getattr(s,"2018-05-15",0)
#以上这些都能从index里面正确取值，以下这些则不行 except IndexError
# s['2017-06-20']
# s["2018-05-15"]
# s.getattr("2018-05-15",0)#AttributeError
'''
# dt <class 'pandas._libs.tslib.Timestamp'> 2010-11-01 00:00:00
# dates = pd.DatetimeIndex(['2017/06/01','2017/06/02','2017/06/02','2017/06/02','2017/06/03'])
# dates
# np.ndarray(5)#生成一维数组5个元素
# np.ndarray([2,3])#生成n纬数组，
# type(np.ndarray([2,3]))
nda=np.arange(3)
type(nda)
nda.reshape(1,3)

2018-05-01   -1.095721
2018-05-02    0.022086
2018-05-03   -0.455288
2018-05-04    0.156080
2018-05-05    0.005514
2018-05-06   -0.697764
2018-05-07   -1.673857
2018-05-08   -0.468843
2018-05-09    0.736774
2018-05-10    0.238016
Freq: D, dtype: float64

array([[0, 1, 2]])